
#title {
  background-color: #ff4c68
}

body{
  font-family: Montserrat serif;
}

.carousel-item{
  padding: 7% 15%;
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section{ /*self made class*/
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

.contain{ /*self made class*/
  padding: 7% 15%;
  font-size: 1.2rem;
  font-family: "Montserrat" sans-serif;
}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box{ /*Not a bootstrap class, custom made*/
  text-align: center;
  padding: 5%;
  font-family: "Ubuntu";
}

h1{
  font-family: 'Montserrat';
  line-height: 1.5;
  font-size: 3.5rem;
  color: white;
}

h2{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat";
  font-size: 1.4rem;
}

.heading{ /*self made class*/
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: "Montserrat-Black"
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

.my-button{ /* This class is my own class not a bootstrap class*/
  margin: 5% 3% 5% 0;
  font-family: "Ubuntu";
}

.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Ubuntu";
}

.navbar{
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.3rem;
  font-family: "Montserrat-light";
}

p{
  color: #8f8f8f;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

#pricing{
  text-align: center;
  padding: 100px;
}

.pricing-column{ /*Self Made Class*/
  padding: 3% 2%;
}

.Pos-rel{  /* self made class only to set it's position relative so that it can be the ancestor of title-image*/
   position: relative;
}

.social-icon{
  margin: 20px 10px;
}

#testimonials{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
  color: #fff;
}

.testimonial-image{
  width: 13%;
  border-radius: 50%;
  margin: 20px;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.white-section{
  background-color: #fff;
  text-align: center;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}
